# uv: https://github.com/astral-sh/uv

# Sync(install specified, uninstall unspecified) packages in environment:
#   uv pip sync ./requirements_full.txt
# add packages:
#   uv pip sync ./requirements.txt
#   # then install other packages into virtual environment manually through `pip install`
#   uv pip install -r ./requirements.txt
#   uv pip freeze > requirements_full.txt

aiomysql~=0.2.0
aiosqlite~=0.21.0
bcrypt~=4.3.0
fastapi[standard]~=0.115.8
loguru~=0.7.3
passlib~=1.7.4
pydantic_settings~=2.8.0
python-jose[cryptography]~=3.4.0
redis[hiredis]~=5.2.1
sqlmodel~=0.0.22
uvicorn==0.21.1
orjson~=3.10.15
boto3~=1.37.13
requests~=2.32.3
aspubsub~=0.1.3
loro~=1.5.0
watchdog~=6.0.0
