[Unit]
Description=Hivey Background Worker (SAQ)
After=network.target

[Service]
Type=exec
User=student
WorkingDirectory=/var/www/hivey/backend/
ExecStart=/var/www/hivey/backend/misc/scripts/run-in-venv.sh saq app.tasks.saq_settings --web
Restart=always
RestartSec=5
# For Python apps: ensure logs aren't buffered excessively
Environment=PYTHONUNBUFFERED=1

[Install]
# hivey.target will manage installation/startup
# WantedBy=multi-user.target
